.view {
    background: url(../img/view/view.png);
    background-position: center;
    background-size: cover;
}

.title h2 {
    color: var(--accent, #D4C17F);
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    margin: 0;

}

.title p {
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    margin: 50px 0 0 0;
}

.id input,
.id p {
    font-family: Raleway;
    text-align: center;
    width: 255px;
}

.id p {
    margin-top: 46px;
    color: #E7E7E7;
    font-size: 16px;
}

.id input {
    background-color: rgba(255, 255, 255, 0.2);
    width: 255px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #838789;
    color: #fff;
    font-size: 14px;
}

.id button {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    background: var(--accent, #D4C17F);
    margin-top: 35px;
    max-height: max-content;
    width: 255px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid #838789;

}

.id button:hover {
    background: #D4C17F;
    opacity: .6;
}

.view__contant {
    gap: 35px;
    display: flex;
}

.id {
    display: flex;
    gap: 30px;
    text-align: center;
}